.article_content{
    background-color: #ffffff;
}

.article_info{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.time{
    color: #EAEAEA;
    margin-top: 8px;
    font-size: 13px;
    margin-right: 20px;
}

.blog_content{
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    width: 90%;
}

.blog_markdown{

}

.article_content li {
    margin-bottom: 0px;
    /*overflow: hidden;*/
    padding: 0px;
    /*background: #fff;*/
    display: list-item;
    text-align: -webkit-match-parent;
}

.support-author{
    min-height: 144px;
    padding: 20px 0;
    text-align: center;
    clear: both;
    background-color: white;
}

.support-author p {
    padding: 0 30px;
    margin-bottom: 20px;
    min-height: 24px;
    font-size: 17px;
    font-weight: 700;
    color: #969696;
}

.btn-pay {
    margin-bottom: 20px;
    padding: 8px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #ea6f5a;
    border-radius: 20px;
}

.supporter {
    height: 50px;
}

.meta-bottom {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100px;
    background-color: white;
}

.liek{
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

/*.like[data-v-6ddd02c6] {*/
    /*display: inline-block;*/
/*}*/

.like .like-group[data-v-6ddd02c6] {
    /*position: relative;*/
    padding: 5px 0 5px 0;
    font-size: 0;
    border: 1px solid #EA6F5A;
    border-radius: 30px;
    margin-right: 80px;
}

.row{
   margin-bottom: 10px;
    /*overflow: hidden;*/
    padding: 20px;
    background: #fff;
}

.share-group li {
    margin-bottom: 10px;
    /*overflow: hidden;*/
    padding: 20px;
    background: #fff;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.like .like-group .btn-like[data-v-6ddd02c6]:before {
    content: '';
    position: absolute;
    left: 12px;
    top: 2px;
    width: 50px;
    height: 50px;
    background-image: url(//cdn2.jianshu.io/assets/web/like_animation_steps-62a00a7….png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1000px 50px;
}

.like .like-group .btn-like[data-v-6ddd02c6] {
    display: inline-block;
    font-size: 19px;
}

.like .like-group .btn-like a[data-v-6ddd02c6] {
    position: relative;
    padding: 18px 30px 18px 55px;
    color: #EA6F5A;
}

.like .like-group .modal-wrap[data-v-6ddd02c6] {
    font-size: 18px;
    border-left: 1px solid rgba(236, 97, 73, 0.4);
    display: inline-block;
    margin-left: -15px;
}

.like .like-group .modal-wrap a[data-v-6ddd02c6] {
    color: #EA6F5A;
    padding: 18px 26px 18px 18px;
}

.meta-bottom .share-group {
    /*float: right;*/
    /*margin-top: 6px;*/
}

.meta-bottom .share-group .share-circle {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.meta-bottom .share-group .share-circle .ic-wechat {
    color: #00bb29;
}

.meta-bottom .share-group .share-circle i {
    margin-top: 10px;
    font-size: 24px;
    line-height: 2;
}

.meta-bottom .share-group .share-circle .ic-weibo {
    color: #e05244;
}

.meta-bottom .share-group .share-circle i {
    margin-top: 10px;
    font-size: 24px;
    line-height: 2;
}

.ic-wechat:before {
    content: "\E604";
}

.ic-weibo:before {
    content: "\E605";
}

*, :after, :before {
    box-sizing: border-box;
}

.blog_has_{
    line-height: 24px;
    width: 100%;
    background: #FFF;
    /*border-radius: 10px;*/
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 5px;
    /*margin: 20px 0;*/
}

.blog_has_ p {
    padding: 4px 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #555;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mask-div{
    margin: 300px auto;
    width: 240px;
}
.mask-div img{
    width: 100%;
}