.article_content{
    background-color: #ffffff;
}

.article_info{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.time{
    color: #EAEAEA;
    margin-top: 8px;
    font-size: 13px;
    margin-right: 20px;
}

.blog_content{
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    width: 90%;
}

.blog_markdown{

}

.article_content li {
    margin-bottom: 0px;
    /*overflow: hidden;*/
    padding: 0px;
    /*background: #fff;*/
    display: list-item;
    text-align: -webkit-match-parent;
}