{% extends "blog/base_site.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../static/css/home_detail.css">
{% endblock %}

{% block content %}
    <div class="article_content">
            <div class="article_info">
                <h1>{{ blog.title }}</h1>
                <p class="time">时间-{{ blog.pub }}</p>
            </div>
            <div class="blog_content">{{ blog.content|safe }}</div>
    </div>
    <div class="blog_has_">
        {% if blog_nex_pre_data.has_prev %}
            <p>上一篇:<a class="b-oa-title" href="http://127.0.0.1:8000/home/detail/?blog_id={{ blog_nex_pre_data.blog_prev.id }}" >
                        {{ blog_nex_pre_data.blog_prev.title }}</a></p>
        {% else %}
            <p>上一篇：没有了</p>
        {% endif %}
        {% if blog_nex_pre_data.has_next %}
            <p>下一篇:<a class="b-oa-title" href="http://127.0.0.1:8000/home/detail/?blog_id={{ blog_nex_pre_data.blog_next.id }}" >
                        {{ blog_nex_pre_data.blog_next.title }}</a></p>
        {% else %}
            <p>下一篇：没有了</p>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

{% endblock %}