{% extends "blog/base_site.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
{% endblock %}

{% block content %}
    {% for blog in blog_list %}
        <div class="article_content" id="click_article">
            <div class="article_info">
                <h3 class="col-xs-12 col-md-12 col-lg-12">
                    <a class="b-oa-title" href="http://127.0.0.1:8000/home/detail/?blog_id={{ blog.id }}&categary={{ categary_id }}"
                       target="_blank">{{ blog.title }}</a>
                </h3>
                <p class="time">时间-{{ blog.pub }}   阅读数-{{ blog.read_number }}</p>
            </div>
            <div class="blog_content">{{ blog.content }}</div>
        </div>
    {% empty %}
        <p>sorry，no this article</p>
    {% endfor %}
    {% if page != 0 %}
        <div class="page_class">
            {% if page == 1 %}
                <p><a class="b-oa-title" href="?page=1&categary={{ categary_id }}">
                    上一页</a></p>
            {% else %}
                <p><a class="b-oa-title"
                      href="?page={{ blog_list.previous_page_number }}">
                    上一页</a></p>
            {% endif %}
            <div class="page_number">
                {% for index in blog_list.paginator.page_range %}
                    {% if index == page %}
                        <p><a class="b-oa-title_select"
                              href="?page={{ index }}&categary={{ categary_id }}">
                            {{ index }}</a></p>
                    {% else %}
                        <p><a class="b-oa-title_normal"
                              href="?page={{ index }}&categary={{ categary_id }}">
                            {{ index }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>

            {% if page == blog_list.paginator.num_pages %}
                <p><a class="b-oa-title" href="?page={{ blog_list.paginator.num_pages }}&categary={{ categary_id }}">
                    下一页</a></p>
            {% else %}
                <p><a class="b-oa-title" href="?page={{ blog_list.next_page_number }}&categary={{ categary_id }}">
                    下一页</a></p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('#menu_class').addClass('active');
        });
    </script>
{% endblock %}