<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>张德全个人博客</title>
    <meta name="keywords" content="技术，iOS，Android，Java，peoplesoft，摄影，读书"/>
    <meta name="description" content="所有人都显得很寂寞，用自己的方式想尽办法派遣寂寞，事实上仍是延续自己的寂寞。寂寞是造化对群居者的诅咒，孤独才是寂寞的唯一出口"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/blog_temp/css/base.css" rel="stylesheet">
    <link href="../../static/blog_temp/css/index.css" rel="stylesheet">
    <link href="../../static/blog_temp/css/m.css" rel="stylesheet">
    {% load staticfiles %}
    <link rel="icon" href="../../static/images/logo.png">
    <link rel="stylesheet" type="text/css" href="../../static/css/code.css"/>

    <link rel="stylesheet" type="text/css" href="../../static/css/editormd.logo.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/editormd.preview.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/editormd.min.css"/>

    <link rel="stylesheet" type="text/css" href="../../static/css/base_site.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/base_default.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/home_detail.css">

    <!--[if lt IE 9]>

<script src="js/modernizr.js"></script>
<![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">{{ user.nickname }}个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                {% for categray in categary_list %}
                    <li><a href="../list/?categary={{ categray.id }}">{{ categray.name }}</a></li>
                {% endfor %}
                <li><a href="../about">关于我</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                {% for categray in categary_list %}
                    <li><a href="../list/?categary={{ categray.id }}">{{ categray.name }}</a></li>
                {% endfor %}
                <li><a href="../about">关于我</a></li>
            </ul>
        </nav>
    </div>
</header>
{% block content %} {% endblock %}
<footer>
    <p>Design by <a href="/">{{ user.nickname }}个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>

<script src="../../static/blog_temp/js/nav.js"></script>


{% block js %}
{% endblock %}
</body>
</html>
